.ds-share(data-thread-key=page.path, data-title=page.title, data-images=page.photos, data-url=page.permalink, data-content=page.content)
    .ds-share-inline
        ul.ds-share-icons-16 
            li 分享到：
            li
                a.ds-weibo(href="javascript:void(0)", data-service="weibo") 新浪微博
            li
                a.ds-wechat(href="javascript:void(0)", data-service="wechat") 微信
        .ds-share-icons-more
